# LDAP properties example file
#
# This file should be copied to "ldap.properties"
# and filled in with the appropriate values

# The fully-qualified URL to the LDAP server
ldap.url=

# The LDAP authentication method
ldap.authentication=simple

# The DN to use for logging in to LDAP
ldap.bindDn=

# The password associated with the bind DN
ldap.credentials=

# The base DN from which to start the search
ldap.searchBaseDn=ou=people,dc=umd,dc=edu